/* Yale STC Customizations on the Hyde theme by @mdo */
/* About section */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-weight: 400;
  font-family: "Roboto Slab", "PT Sans", serif;
  font-size: 2.3rem;
  text-shadow: rgba(0,0,0,0.5) 0 1px 1px;
}

.sidebar-about h1 a {
  color: #fff;
}

.sidebar-about h1 a:hover {
  text-decoration: none;
  color: #a7cdf5; /* desaturate(lighten(#00346a, 60%), 20%) */
  -ms-transition: color ease 0.25s;
  -moz-transition: color ease 0.25s;
  -webkit-transition: color ease 0.25s;
  transition: color ease 0.25s;
}

/* Yale Theme */
.theme-base-yale .sidebar {
  background-color: #00346a;
}
.theme-base-yale .content a,
.theme-base-yale .related-posts li a:hover {
  color: #004d9d;
}

#social-media ul {
  list-style: none;
  padding-left: 0;
}

#social-media li {
  display: inline-block;
  margin-right: 4px;
}

#social-media a:hover svg {
  fill: rgba(255,255,255,.9);
}

#social-media svg {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  position: relative;
  top: .15rem;
  fill: rgba(255,255,255,.7);
}

ul { padding-left: 30px; }
