/* Yale STC Customizations on the Hyde theme by @mdo */
/* About section */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-weight: 400;
  font-family: "Roboto Slab", "PT Sans", serif;
  font-size: 3rem;
}

.sidebar-about h1 a:hover {
  text-decoration: none;
}